*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /*10px/16px = 62.5%, Therefore 1rem = 10px*/
}

body {
  font-family: "Lobster", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.wheat-bg {
  background-color: #ffda79;
}

.dark-bg {
  background-color: #242424;
  color: #ffffff;
}

hr {
  margin: 0;
}

.btn {
  font-size: 2rem;
  display: inline-block;
  margin-top: 6rem;
  padding: 1rem 2rem;
  border: 1px solid #242424;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 0 4rem;
}

.home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.home__header__logo {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 600;
}

.home__header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.home__header__nav li a {
  display: block;
  padding: 0 2rem;
}

.home__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.home__hero__text__main {
  font-size: 9rem;
  line-height: 1;
}

.home__hero__text__cta {
  margin-left: 1rem;
  font-size: 2rem;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 1px solid #ffffff;
}

.home__hero__img {
  display: block;
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.about__video video {
  width: 90%;
}

.about__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.about__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__icons__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__icons__flex > div {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4rem;
}

.about__icons__flex > div i {
  font-size: 4rem;
  padding-right: 1rem;
}

.about__icons__flex > div span {
  font-size: 1.6rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10rem 0;
}

.footer__title {
  font-size: 2.8rem;
}

.footer span {
  display: block;
  margin: 1rem 0;
}

.footer__logo {
  font-size: 5rem;
}

.footer__logo span {
  font-size: 3rem;
}

.footer i {
  font-size: 3rem;
  margin-right: 1rem;
}

.features__title {
  text-align: center;
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__box--one {
  background-color: #ffda79;
  color: #242424;
}

.features__box--two {
  background-color: #3498db;
  color: #242424;
}

.features__box--three {
  background-color: #2ecc71;
  color: #242424;
}

.features__box__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 7rem;
}

.features__box__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  position: relative;
  cursor: pointer;
}

.features__box__image img {
  max-width: 100%;
  width: 100%;
}

.features__box__image canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.heading {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

.numerical {
  font-size: 2rem;
}
/*# sourceMappingURL=main.css.map */